<div class="container" ng-controller="Poll">
  <ol class="breadcrumb">
    <li><a href="#/polls">Polls</a></li>
    <li class="active">{{poll.title}}</li>
  </ol>
  <h1 class="pull-left">{{poll.title}}</h1>
  <button type="button" class="btn btn-danger pull-right poll-action" poleland-confirm="deletePoll()">
    Delete
  </button>
  <div class="clearfix"></div>
  <ol>
    <li class="question" ng-repeat="question in poll.questions">
      <p>{{question.content}}</p>
      <ol>
        <li class="answer" ng-repeat="answer in question.answers">
          {{answer.content}}
        </li>
      </ol>
    </li>
  </ol>
</div>
