<div class="container" ng-controller="ListPolls">
  <ol class="breadcrumb">
    <li class="active">Polls</li>
  </ol>
  <h1>Polls</h1>
  <poleland-add text="Create poll" done-func="createPoll"></poleland-add>
  <ul>
    <li class="poll" ng-repeat="poll in polls">
      <a href="#/polls/{{poll.anchorHref}}">{{poll.title}}</a>
      <button type="button" class="btn btn-danger pull-right"
              poleland-confirm="deletePoll(poll.href)">
        Delete
      </button>
      <div class="clearfix"></div>
    </li>
  </ul>
</div>
