body {
    padding-top: 50px;
}

button.poll-action {
    bottom: 20px;
    position: relative;
    top: 20px;
}

li.answer {
    list-style-position: inside;
    list-style-type: none;
    margin-bottom: 10px;
}

li.poll {
    font-size: 18px;
    margin: 10px 0px;
}

li.question {
    border-bottom: 1px solid #ccc;
    list-style-position: inside;
    list-style-type: none;
    margin-top: 5px;
}
